:root{
    --color-primary : #282688;
    --color-secondary : #F0AB20;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey0: #dddfe2;
    --color-grey1: #dbe1e8;
    --color-grey2: #b2becd;
    --color-grey3: #6c7983;
    --color-grey4: #454e56;
    --color-grey5: #2a2e35;
    --color-grey6: #12181b; 
}