:root {
    --color-primary: #282688;
    --color-secondary: #F0AB20;
    --color-secondary-dark: #ffac05;
    --color-danger: rgb(231, 31, 31);
    --color-cyan: rgb(144 231 237);
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey0: #dddfe2;
    --color-grey1: #D8D8D8;
    --color-grey2: #b2becd;
    --color-grey3: #6c7983;
    --color-grey4: #454e56;
    --color-grey5: #2a2e35;
    --color-grey6: #12181b;
}