* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    background-color: var(--color-grey1);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    color: var(--color-white);
    transition: all .4s ease-in-out;
  }
  a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
  }
  